selenium           # ? Required for interacting with the browser
keyboard          # ? Required for sending keyboard and mouse input
questionary        # ? Required for command line interface
rich               # ? Required for command line interface
